@charset "utf-8";
@keyframes hanging {
  0% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(55deg);
  }
}
.space {
  width: 350px;
  height: 350px;
  position: relative;
  transform-origin: 0 0;
  /* 动画名称 */
  animation-name: hanging;
  /* 动画时长 */
  animation-duration: 2s;
  /* 动画播放方向*/
    /*
      normal： 默认值，从前向后播放；
      reverse: 从后向前播放，动画函数也会被反转，比如 ease-in 变成 ease-out；
      alternate: 先从前向后，再从后向前，如此交替；
      alternate-reverse: 先从后向前，再从前向后，如此交替。
    */
  animation-direction: alternate;
  /* 指定动画播放次数 */
    /*
      infiniter: 无限循环播放；
      （数字）动画播放次数。
    */
  animation-iteration-count: infinite;
  /* 指定动画时间函数 */
  animation-timing-function: ease-in-out;
}

.space::after {
  content: "🐒";
  bottom: 0;
  right: 10px;
  font-size: 120px;
  position: absolute;
}

.forest {
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/monkey-bj.jpg);
}